<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Habit Bloom</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>HBRemoteBaseURL</key>
    <string>$(HABITBLOOM_REMOTE_BASE_URL)</string>
    <key>HBRemoteDeviceKey</key>
    <string>$(HABITBLOOM_REMOTE_DEVICE_KEY)</string>
    <key>HBRemoteWriteToken</key>
    <string>$(HABITBLOOM_REMOTE_WRITE_TOKEN)</string>
    <key>HBAppGroupIdentifier</key>
    <string>$(HABITBLOOM_APP_GROUP)</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>用于选择目标卡片和小组件的自定义图片。</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
</dict>
</plist>
